#!/usr/bin/env python
# MPPI Cost Critic configuration

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t
PACKAGE = "mppi_controller"

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether this critic is enabled", True)
gen.add("cost_power", double_t, 0, "Power order to apply to term", 1.0, 0.0, 10000.0)
gen.add("cost_weight", double_t, 0, "Weight to apply to critic term", 3.81, 0.0, 10000.0)
gen.add("consider_footprint", bool_t, 0, "Whether to use point cost or SE2 footprint cost", True)
gen.add("critical_cost", double_t, 0, "Penalty applied to near-collision trajectory points", 300.0, 0.0, 1000000.0)
gen.add("near_collision_cost", int_t, 0, "Costmap cost threshold to consider a point near collision", 253, 0, 255)
gen.add("collision_cost", double_t, 0, "Cost to apply to a true collision in a trajectory", 1000000.0, 0.0, 10000000.0)
gen.add("near_goal_distance", double_t, 0, "Distance near goal to stop applying preferential cost term", 1.0, 0.0, 10.0)
gen.add("trajectory_point_step", int_t, 0, "Step of trajectory points to evaluate to reduce compute", 2, 1, 100)

exit(gen.generate(PACKAGE, "mppi_controller", "CostCritic"))
